html, body{
  margin: auto;
  padding: auto;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.carpet{
  width: 80vw;
  height: 90vh;
  position: absolute;
  top: 12vw;
  left: 8vw;
}

.book{
  width: 11vw;
  position: absolute;
  top: 17vw;
  left: 5vw;
}

.door{
  height: 43vh;
  position: absolute;
  top: 5dvh;
  left: 77vw;
  z-index: 1;
}

.lock{
  width: 3vw;
  position: absolute;
  top: 15dvh;
  right: 20dvh;
  bottom: 34vw;
  z-index: 2;
}

.garbage{
  width: 8vw;
  position: absolute;
  left: 25vw;
  bottom: 18vw;
}

.lgrassnormal{
  width: 15vw;
  position: absolute;
  left: 8vw;
  top: 2vw;
  z-index: 4;
}

.lgrasspaper{
  width: 15vw;
  position: absolute;
  left: 8vw;
  top: 2vw;
  display: none;
  z-index: 4;
}

.rgrass{
  width: 8.7vw;
  position: absolute;
  left: 52vw;
  top: 0vw;
}

.sofanormal{
  width: 33vw;
  position: absolute;
  left: 35vw;
  top: 3vw;
  z-index: 10;
}

.sofapaper{
  width: 33vw;
  position: absolute;
  left: 35vw;
  top: 3vw;
  z-index: 10;
  display: none;
}

.pillow{
  width: 13vw;
  position: absolute;
  left: 49vw;
  top: 11vw;
  z-index: 12;
}

.table{
  width: 40vw;
  position: absolute;
  left: 31vw;
  top: 18vw;
  z-index: 13;
}

.food{
  width: 18vw;
  position: absolute;
  left: 42vw;
  top: 20vw;
  z-index: 14;
}

.robot1{
  width: 14vw;
  position: absolute;
  right: 17vw;
  bottom: 20vw;
  z-index: 2;
}

.robot2{
  width: 14vw;
  position: absolute;
  right: 17vw;
  bottom: 20vw;
  display: none;
  z-index: 2;
}

.robot3{
  width: 14vw;
  position: absolute;
  right: 17vw;
  bottom: 20vw;
  display: none;
  z-index: 2;
}

.net{
  width: 6vw;
  position: absolute;
  right: 26vw;
  bottom: 21vw;
  z-index: 3;
}

.rcabinet{
  width: 22vw;
  position: absolute;
  right: -2vw;
  bottom:-2vw;
}

.lcabinet{
  width: 22vw;
  position: absolute;
  left: -2vw;
  bottom:-2vw;
  transform: rotateY(180deg);
}

.rlightclose{
  width: 15vw;
  position: absolute;
  right: -4vw;
  bottom: 5vw;
  transform: rotateY(180deg);
  z-index: 5;
}

.rlightpaper{
  width: 15vw;
  position: absolute;
  right: -4vw;
  bottom: 5vw;
  transform: rotateY(180deg);
  z-index: 5;
  display: none;
}

.llightclose{
  width: 15vw;
  position: absolute;
  left: -4vw;
  bottom: 5vw;
  z-index: 5;
}

.llight{
  width: 15vw;
  position: absolute;
  left: -4vw;
  bottom: 5vw;
  z-index: 5;
  display: none;
}

.lbookcase{
  position: absolute;
  width: 4.3vw;
  height: 50vh;
  top: 0vh;
  left: 0vw;
}

.rbookcase{
  position: absolute;
  width: 4.3vw;
  height: 50vh;
  top: 0vh;
  right: 0vw;
}

.fish{
  position: absolute;
  width: 66.8vw;
  height: 37vh;
  top: 0vh;
  left: 4.5vw;
  z-index: 0;
}

.black{
  opacity: 0.7;
  background-color: black;
  color: white;
  position: absolute;
  z-index: 15;
  display: none;
  width: 100vw;
  height: 30vh;
  bottom: 0vh;
  left: 0vw;
}

.p{
  position: absolute;
  display: none;
  width: 70vw;
  height: 20vh;
  top: 0vh;
  left: 10vw;
  font-size: 1.5vw;
}

.continue{
  position: absolute;
  display: none;
  top: 19vh;
  left: 74vw;
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
.Q{
    font-family: "cwTeXFangSong", serif;
}


/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  height: calc(100% - 1rem);
}
.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  overflow: hidden;
}
.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 0.3rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}
.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.modal-footer > * {
  margin: 0.25rem;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-scrollable {
    height: calc(100% - 3.5rem);
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg,
.modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
.modal-fullscreen {
  width: 100vw;
  max-width: none;
  height: 100%;
  margin: 0;
}
.modal-fullscreen .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}
.modal-fullscreen .modal-header {
  border-radius: 0;
}
.modal-fullscreen .modal-body {
  overflow-y: auto;
}
.modal-fullscreen .modal-footer {
  border-radius: 0;
}

@media (max-width: 575.98px) {
  .modal-fullscreen-sm-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-sm-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-sm-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 767.98px) {
  .modal-fullscreen-md-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-md-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-md-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 991.98px) {
  .modal-fullscreen-lg-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-lg-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-lg-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-lg-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 1199.98px) {
  .modal-fullscreen-xl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-xl-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-xl-down .modal-footer {
    border-radius: 0;
  }
}
@media (max-width: 1399.98px) {
  .modal-fullscreen-xxl-down {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }
  .modal-fullscreen-xxl-down .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-header {
    border-radius: 0;
  }
  .modal-fullscreen-xxl-down .modal-body {
    overflow-y: auto;
  }
  .modal-fullscreen-xxl-down .modal-footer {
    border-radius: 0;
  }
}
