*{
  text-align: center;
  background:black;
  color:white;
}

html, body{
    position: relative;
  }


.next{
  width: 6vw;
  height: 6vh;
  position: absolute;
  top: 60vh;
  right: 30vw;
}

.back{
  width: 6vw;
  height: 6vh;
  position: absolute;
  top: 60vh;
  left: 30vw;
}
  